@charset "utf-8";

h1, h2 {
    font-family: 'BreeSerif';
    font-weight: normal;
}

header h1 {
    max-width: 600px;
    padding: 20px 2px;
    margin: 0px auto;
    border-radius: 10px;
    
    color: var(--white);
}

header p {
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
    color: var(--white);
    font-family: var(--font-texto-especial);
}

main p {
    text-indent: 30px;
    text-align: justify;
}

article.indice h2 {
    background-image: linear-gradient(90deg, var(--dark-blue), var(--dark-green));
    color: var(--white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 3px solid var(--white);
    text-indent: 20px;
    font-weight: lighter;
}

article.indice ol, h2 {
    margin: 0px;
}

footer ul {
   margin: 0px;
}