@charset "utf-8";

h1, h2 {
    font-family: 'BreeSerif';
}

header h1 {
    max-width: 600px;
    padding: 20px 2px;
    margin: 0px auto;
    border-radius: 10px;
    /*background-image: linear-gradient(90deg, var(--dark-blue), var(--dark-green));*/
    color: var(--limom-green);
}

header p {
    max-width: 600px;
    margin: auto;
    padding-bottom: 20px;
    color: var(--white);
    font-family: var(--font-texto-especial);
}

footer ul {
   margin: 0px;
}